<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" routerLink="/customerCreate">Customer Create</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" routerLink="/customer">Customer List</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" routerLink="/OrderCreate">Order Create</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" routerLink="/order">Order List</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" routerLink="/ProductCreate">Product Create</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" routerLink="/product">Product List</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
